---
/**
 * User card, represent basic information about users
 *
 * Reviceves the user data via props
 */

interface Props {
  id: number;
  username: string;
  avatar: string;
  totalComponents: number;
  rank: number;
}

const { id, username, avatar, totalComponents, rank } = Astro.props;
---

<div
  class="p-3 border w-full rounded flex justify-between items-center relative"
>
  <div class="absolute right-3 top-3 text-xl text-cyan-400">
    {rank}<span class="pl-0.5">#</span>
  </div>
  <div class="flex items-center gap-4">
    <a href={`/users/${id}`}>
      <img class="rounded-full w-12 md:w-20" src={avatar} alt="User Avatar" />
    </a>
    <div>
      <a
        href={`/users/${id}`}
        class="line-clamp-1 text-teal-400 hover:bg-cyan-800 underline transition-all"
        >{username}</a
      >
      <span class="text-nowrap font-light">{totalComponents} Components</span>
    </div>
  </div>
  <div class="flex items-end justify-center"></div>
</div>
