---
/**
 * Here we represent the components comments list, doesnt show if a component doesnt have comments
 */
import CommentCard from "../partials/cards/CommentCard.astro";

interface Props {
  comments;
}

const { comments } = Astro.props;
---

<section class="container">
  <div class="space-y-3">
    {
      comments.map((comment) => (
        <CommentCard
          userId={comment.user.id}
          userName={comment.user.name}
          userAvatar={comment.user.avatar}
          commentDate={comment.createdAt}
          content={comment.content}
        />
      ))
    }
  </div>
</section>
