---
/**
 * This is the all page, it will show all components
 *
 */

import Layout from "../../layouts/Layout.astro";

import CategoryHeader from "../../components/category/CategoryHeader.astro";
import ComponentCard from "src/components/partials/cards/ComponentCard.astro";

// Fetch datas from the API
const components = await fetch(Astro.url.origin + "/api/components").then(
  (data) => data.json()
);

// If the api returned a blank array (null response) redirect user to 404
if (components.length == 0) {
  return Astro.redirect("/404");
}
---

<Layout title="All components" footer={true}>
  <CategoryHeader
    name="All components"
    description="All types of components for your projects, for more specific components use the categories or use the filters."
  />
  <section class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
      {
        components.map((component) => (
          <ComponentCard
            id={component.id}
            name={component.name}
            thumbnail={component.thumbnail}
            needsAlpine={component.needsAlpine}
            needsCDN={component.needsCDN}
            userData={component.user}
            totalComments={component.comments.length}
          />
        ))
      }
    </div>
  </section>
</Layout>
