---
/**
 * This is the latest page, it will show the latest components created
 *
 */

import Layout from "../../layouts/Layout.astro";

import CategoryHeader from "../../components/category/CategoryHeader.astro";
import ComponentCard from "src/components/partials/cards/ComponentCard.astro";

// Fetch datas from the API
const best = await fetch(Astro.url.origin + "/api/best").then((data) =>
  data.json()
);

// If the api returned a blank array (null response) redirect user to 404
if (best.length == 0) {
  return Astro.redirect("/404");
}
---

<Layout title="Categories" footer={true}>
  <CategoryHeader
    name="Best components"
    description="On this page you can find the that have had the most reviews and comments."
  />
  <section class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
      {
        best.map((component) => (
          <ComponentCard
            id={component.id}
            name={component.name}
            thumbnail={component.thumbnail}
            needsAlpine={component.needsAlpine}
            needsCDN={component.needsCDN}
            userData={component.user}
            totalComments={component.comments.length}
          />
        ))
      }
    </div>
  </section>
</Layout>
