---
/**
 * This is the search page, it will show the category indicated in the url
 *
 * Needs a query via url params
 */

import Layout from "../layouts/Layout.astro";

import CategoryHeader from "../components/category/CategoryHeader.astro";
import ComponentCard from "src/components/partials/cards/ComponentCard.astro";

// Get search query via Astro params with Astro.url utility
const query = Astro.url.searchParams.get("q");
console.log(query);

// Fetch data from the API using a POST request
const search = await fetch(Astro.url.origin + "/api/search").then((res) =>
  res.json()
);



// Flag to know if search have results
let noResults;
if (search.components[0].id !== null) {
  noResults = true;
} else {
  noResults = false;
}
---

<Layout title="Categories" footer={true}>
  <CategoryHeader
    name={"Search"}
    description={"This is the result of your search, remember this search engine searches by component names."}
  />
  <section class="container">
    <div class="mb-5 text-lg text-cyan-400">
      Search results for: <span class="text-white">{query}</span>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
      {
        search.components.map((component) => (
          <Fragment>
            {noResults ? (
              <ComponentCard
                id={component.id}
                name={component.name}
                thumbnail={component.thumbnail}
                needsAlpine={component.needsAlpine}
                needsCDN={component.needsCDN}
                userData={component.user}
                totalComments={component.totalComments}
              />
            ) : (
              <div class="col-span-3 flex flex-col items-center bg-slate-700">
                <p class=" mx-auto w-1/3 text-center  p-5 text-teal-300">
                  No results...
                </p>
              </div>
            )}
          </Fragment>
        ))
      }
    </div>
  </section>
</Layout>
