---
/**
 * Slider to display components that have been recently created by users
 */

import ComponentCard from "../partials/cards/ComponentCard.astro";
import SwiperButtonsScrollbar from "../partials/swiper/SwiperButtonsScrollbar.astro";

// Fetch data from the API
const latest = await fetch(Astro.url.origin + "/api/latest").then((data) =>
  data.json()
);

// Checks if respnse was blank
let blankResponse;
if (latest.length == 0) {
  blankResponse = true;
} else {
  blankResponse = false;
}
---

<section class="container pt-16">
  <a
    href="/categories/latest"
    class=" text-teal-400 hover:bg-cyan-800 underline transition-all font-bold font-title text-center md:text-left text-2xl md:text-3xl"
  >
    Latest Components
  </a>
  <p class="font-light text-center md:text-left md:text-lg mb-6 mt-4">
    Find out what the developers have been working on lately and take the
    opportunity to leave a comment!
  </p>

  {
    blankResponse ? (
      <span class="text-rose-500 text-xl underline mx-auto">There was a server error.</span>
    ) : (
      <Fragment>
        <div class="swiper h-full bg-gray-700 !p-4 rounded" id="swiperLatest">
          <div class="swiper-wrapper">
            {latest.map((component) => (
              <div class="swiper-slide px-4 py-5 bg-slate-600 rounded">
                <ComponentCard
                  id={component.id}
                  name={component.name}
                  needsAlpine={component.needsAlpine}
                  needsCDN={component.needsCDN}
                  thumbnail={component.thumbnail}
                  totalComments={component.comments.length}
                  userData={component.user}
                />
              </div>
            ))}
          </div>
          <SwiperButtonsScrollbar />
        </div>
      </Fragment>
    )
  }
</section>

<script>
  /**
   * This is the Swiper library import
   * https://swiperjs.com/
   */

  // @ts-ignore
  import Swiper from "swiper";

  // @ts-ignore
  import { Navigation, Pagination, Scrollbar } from "swiper/modules";
  import "swiper/css/bundle";

  // To use Swiper you only need to declare this constant with a swiper options
  const swiper = new Swiper("#swiperLatest", {
    // The options that Swiper provides are easily discernible
    modules: [Navigation, Pagination, Scrollbar],
    slidesPerView: 1,
    spaceBetween: 30,
    breakpoints: {
      640: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      },
      1480: {
        slidesPerView: 3,
      },
    },
    grabCursor: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    scrollbar: {
      el: ".swiper-scrollbar",
    },
  });
</script>
